<div class="scrollable">
  	<div class="scrollable-content home">
		<div class="fullimg">
    		<carousel  interval="myInterval" >
				<slide ng-repeat="image in imgarray" active="slide.active">
					<img ng-src="{{image}}" class="img-responsive" style="margin:auto;">
				</slide>
    		</carousel>
  		</div>
		<div class="row home-heading-main">
			<a class="" href="#/allprojects">
					Realizing Your Dream... 
			</a>
        </div>
        <div class="col-xs-12 h-moe">
			<div class="col-xs-6">
				<img ng-src="img/app-image-home1.jpg" class="img-responsive">
				<div class="homeheading" style="text-align:center">
    			<a class="" href="#/about">
        			 About Vraj
        		</a>
        		</div>
			</div>
			
			<div class="col-xs-6">
				<img ng-src="img/app-image2.jpg" class="img-responsive">
				<div class="homeheading" style="text-align:center">
    			<a class="" href="#/newsevents">
        			 Our Timeline
        		</a>
        		</div>
			</div>
        </div>
        
        <div class="col-xs-12 h-moe-sub">
			<img src="img/app-successtories.jpg" class="box-effect">
			<div class="homeheading" style="text-align:center">
    			<a class="" href="#/success-story">
        			 Success Stories
				</a>
        	</div>
		</div>
  		<p>&nbsp;</p>
  	</div>
</div>




