<div class="scrollable " >
  	<div class="scrollable-content news">
		
		<span ng-show="!loader">		
		 <div><img src="img/app-news.jpg" class="img-responsive"></div>
  		<div class="media" ng-repeat="news in newsList">
  			<div class="media-body">
  				
				<div class="newsdate">
				{{news.title}} - {{ news.newsdate }}
				</div> 
				<p ng-bind-html = "news.description| html"> </p>
				
  			</div>
		</div>
		<p class="noresult" ng-show="(newsList).length == 0">Sorry, No News Found .</p>
		</span>	
		<div class="responsive-container" ng-show="loader">
			<div class="dummy"></div>
			<div class="img-container">
				<div class="centerer"></div>
				<img src="img/loading1.gif" >
			</div>
		</div>	
  	</div>
</div>
