<div class="scrollable">
  	<div class="scrollable-content">
  	<span ng-show="!loader">
	
  	<p></p>
  	
  	<form  role="form" name="subscribeform" novalidate style="margin-bottom:50px;">
  	<p></p>
  	<div class="form-group">
  			<label class="col-xs-12 control-label">Keep yourself up to date!<br><br>Please fill in this form to signup for important alerts and the latest news.<br><br></label>	
  	</div>
  		<div class="form-group">
    		<label for="inputName" class="col-sm-2 control-label">Name</label>
			<div class="col-xs-12">
      		<input type="text" class="form-control col-xs-12 formpadd" id="inputName3" name="name" placeholder="* Enter Your Full Name" ng-model="formInfo.subname" ng-required="true">	
    		</div>
    		<span  class= "inerror col-xs-12" ng-show="subscribeform.name.$touched && subscribeform.name.$error.required">Please enter the Name</span>
  		</div>	
  		
  		<div class="form-group">
    		<label for="inputEmail" class="col-xs-12 control-label">Email</label>
    		<div class="col-sm-12">
      		<input type="email" class="form-control col-xs-12 formpadd" id="inputEmail3" placeholder="* Enter Your Email Address" name ="email" ng-model="formInfo.subemail" ng-required="true">      		
    		</div>
    			<span   class= "inerror  col-xs-12" ng-show="subscribeform.email.$touched && subscribeform.email.$invalid">Please enter the valid Email Address</span>
  		</div>
  		<div class="form-group">
    		<label for="inputEmail" class="col-xs-12 control-label">Contact</label>
    		<div class="col-xs-12">
      		<input type="text" class="form-control col-xs-12 formpadd" id="inputEmail4" placeholder="* Enter Your Contact" name ="contact" ng-model="formInfo.submobile" ng-required="true">      		
    		</div>
    			<span   class= "inerror  col-xs-12" ng-show="subscribeform.contact.$touched && subscribeform.contact.$error.required">Please enter Your contact number.</span>
    				<input type="hidden" class="form-control col-sm-4 formpadd" id="gcmid" name="gcmid"> 
  		</div>
  		
  		<div class="form-group">
    		<div class=" col-xs-12 padd-btn">
      		<button type="submit" class="btn btn-info btn-color col-xs-12" ng-click="submitTheForm()" ng-disabled="subscribeform.$invalid">Submit</button>
    		</div>
  		</div>
  		
	</form>
	</span>
  	
	<div class="responsive-container" ng-show="loader">
			<div class="dummy"></div>
			<div class="img-container">
				<div class="centerer"></div>
				<img src="img/loading1.gif">
			</div>
	</div>	

  	</div>
</div>
