<div class="scrollable " >
  	<div class="scrollable-content story">
		
		<span ng-show="!loader">		
		 <div><img src="img/app-successtories.jpg" class="img-responsive"></div>
  		<div class="media cards" ng-repeat="story in storyList">
  			<div class="media-body">
  				
				<div class="newsdate">
				{{story.name}}
				</div> 
				<p ng-bind-html = "story.description| html"> </p>
				
  			</div>
		</div>
		<p class="noresult" ng-show="(storyList).length == 0">No Success Story Found ..</p>
		</span>	
		<div class="responsive-container" ng-show="loader">
			<div class="dummy"></div>
			<div class="img-container">
				<div class="centerer"></div>
				<img src="img/loading1.gif" >
			</div>
		</div>	
  	</div>
</div>
