<div class="scrollable " >
  	<div class="scrollable-content news notification">
		
		<span ng-show="!loader">		
  		<div class="media" ng-repeat="notification in notificationList">
  			<div class="media-body">
  				<a href="{{notification.notificationlink}}">
				<div class="newsdate">
				{{ notification.notificationtitle }}
				</div> 
				<p ng-bind-html = "notification.notificationdesc| html"> </p>
				</a>
  			</div>
		</div>
		<p class="noresult" ng-show="(notificationList).length == 0">No Notifications Found.</p>
		</span>	
		<div class="responsive-container" ng-show="loader">
			<div class="dummy"></div>
			<div class="img-container">
				<div class="centerer"></div>
				<img src="img/loading1.gif" >
			</div>
		</div>	
  	</div>
</div>

