<div class="scrollable">
  	<div class="scrollable-content">
	
	<p></p>
	<span ng-show="!loader">

	<div class="list-group cards" ng-repeat="project in projects" >
	  	<a href="#/Project/{{project.projectid}}" class="list-group-item active">
	  		<div class="imgPlace"><img class="img-responsive" src="{{project.image}}{{imgappend}}"></div>
	    		<span class="ptTitle">[{{project.projecttitle}}  - {{project.projectstatus}}]  </span>
	    	</a>
	    	
	</div>
	<p class="noresult" ng-show="(projects).length == 0">Sorry, No Projects In This Category.</p>	
	</span>

	<div class="responsive-container" ng-show="loader">
			<div class="dummy"></div>
			<div class="img-container">
				<div class="centerer"></div>
				<img src="img/loading1.gif"  ng-show="loader">
			</div>
	</div>	
	
  	</div>
</div>


