<!DOCTYPE html>
<html ng-app="vrajApp" >
<head>
	<meta charset="utf-8" />
	<title>Vraj Infra Pvt. Ltd </title>
	<link rel="stylesheet" href="css/mobile-angular-ui-hover.min.css" />
	<link rel="stylesheet" href="css/mobile-angular-ui-base.min.css" />
	<link rel="stylesheet" href="css/font-awesome.min.css" />
	<link href="animations.css" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="css/app.css" />
	
  	<!-- SPELLS -->
  	<script src="js/libs/angular.min.js"></script>
  	<script src="js/libs/angular-route.min.js"></script>
  	<script src="js/libs/ui-bootstrap-tpls-0.11.0.js"></script>
  	<script src="js/libs/ng-storage.js"></script>
  	<script src="js/libs/angular-animate.min.js"></script>
  	<script src="js/libs/mobile-angular-ui.min.js"></script>

	<script type="text/javascript" src="cordova.js"></script>
	<script type="text/javascript" src="PushNotification.js"></script>
	
  	<script src="js/app.js"></script>

	<script type="text/javascript" src="js/index.js"></script>

  	
</head>
<!-- define angular controller -->
<body >
<div class="sidebar sidebar-left" toggleable parent-active-class="sidebar-left-in" id="mainSidebar"  >
 <h1 class="app-name title">Vraj Infra Pvt. LTD.</h1>

  <div class="scrollable">
    <div class="scrollable-content">
		
      
			
      <div class="list-group slidemenu" toggle="off" bubble target="mainSidebar"  >
      	<ul>
			<li><h4 class="browsetitle"><i class="fa fa-search"></i>&nbsp;Browse By City</h4>
				<ul>
					<li><a href="#ProjectSelect/2">Rajkot</a></li>	
					<li><a href="#ProjectSelect/3">Jetpur</a></li>	
					<li><a href="#ProjectSelect/4">Junagadh</a></li>	
				</ul>			
			</li>
			
				<li><a href="#/home"><i class="fa fa-home"></i>&nbsp;&nbsp;Home</a></li>	            	
         		<li><a href="#/about"><i class="fa fa-building-o"></i>&nbsp;&nbsp;About Vraj</a></li>
         		
         		<li><a href="#/allprojects"><i class="fa fa-building-o"></i>&nbsp;&nbsp;Projects</a></li>
         		
         		<li><a href="#/newsevents"><i class="fa fa-star"></i>&nbsp;&nbsp;Our Timeline</a></li>
         		<li><a href="#/success-story"><i class="fa fa-comment"></i>&nbsp;&nbsp;Success Stories</a></li>        		
         		<li><a href="#/inquiry"><i class="fa fa-envelope"></i>&nbsp;&nbsp;Inquiry</a></li>        		
         		<li><a href="#/contact"><i class="fa fa-map-marker"></i>&nbsp;&nbsp;Reach Us</a></li>        		
			</ul>
				
      </div>


    </div>
  </div>
</div>
<div class="app">
  <div class="sub-navbar navbar-app navbar-absolute-top " ng-show="!defaultheader">
     <div class="navbar-brand navbar-brand-center sub-mt" id="sub-title" > 
		 Subscribe To Vraj Infra
     </div>
      
  </div>
  <!-- Navbars -->
  <div class="navbar navbar-app navbar-absolute-top" ng-show="defaultheader">

     <div class="navbar-brand navbar-brand-center" id="brand-title" yield-to="title" >
        <!--<img src="img/logo.png" alt=""  > -->
	
     </div>
    
	<div class="btn-group pull-left" >
        <div ng-click="toggle('mainSidebar')" class="btn btn-navbar sidebar-toggle"  >
          <i class="fa fa-bars fa-navbar" ></i>
        </div>
     </div>
	<div class="btn-group pull-right">
        <a href="#/notification" class="btn btn-navbar header btn-icon-only"><i class="fa fa-globe"></i></a>
        <a href="#/searchprojects" class="btn btn-navbar header btn-icon-only"><i class="fa fa-search"></i></a>
     </div>
  </div>

 <div class="app-body">
	<ng-view class="app-content"></ng-view>
  </div>
  
   	<div class="navbar navbar-app navbar-absolute-bottom" ng-show="innerfooter && !subscribefooter">
    		<div class="btn-group justified">
				
      		<a href="#/home" class="footertext"><i class="fa fa-home"></i> &nbsp;&nbsp;Home</a>
      		<a href="#/allprojects" class="footertext"><i class="fa fa-building-o"></i> &nbsp;&nbsp;Projects</a> 
      		
      		<a href="#/contact" class="footertext"><i class="fa fa-envelope"></i> &nbsp;&nbsp;Reach Us</a>
    		</div>
  	</div>
  	
  	<div class="navbar navbar-app navbar-absolute-bottom" ng-show="subscribefooter">
		
  	</div>
  	
  	
	<div class="navbar-app navbar-absolute-bottom " ng-show="!innerfooter && !subscribefooter" >
		<div class="btn-group justified">
				
      		<a ng-click="showcontent('4')" ng-show="projectdetail.location.length != 0" class="footertext"><i class="fa fa-map-marker"></i>&nbsp;Location</a>
      		<a ng-click="shareproject()" ng-show="projectdetail.overview.length != 0" class="footertext"><i class="fa fa-share-alt"></i> &nbsp;Share</a> 
      		<a ng-click="playvideo()" class="footertext"><i class="fa fa-video-camera"></i> &nbsp;Video</a>
            <!--
      		<a ng-show="projectdetail.brochure.length != 0" ng-click="downloadbrochure()" class="footertext"><i class="fa fa-download"></i> &nbsp;Brochure</a>
             -->
    	</div>
    </div>
  	
 
</div>
</body>
</html>
