<div class="scrollable">
  	<div class="scrollable-content">
	
	<p></p>
	<span ng-show="!loader">
	<div class="navbar navbar-app mt10">
    	<div class="btn-group justified">
		<a  role="tab" ng-repeat="projectcity in projectcities" data-toggle="tab" data-target= "#" ng-click= "changetype(projectcity.typeid)" ng-class="{tabactive : projectcity.typeid == selectedcityId}" class="btn btn-navbar sub-tab " >{{projectcity.typetitle}}</a>
    		
    	</div>
  	</div> 	
	
	<div class="list-group cards" ng-repeat="project in projectList | filter:{ ptypeid: selectedcityId}" >
	  	<a href="#/Project/{{project.projectid}}" class="list-group-item active">
	  		<div class="imgPlace"><img class="img-responsive" src="{{project.image}}{{imgappend}}"></div>
	    			<span class="ptTitle">[{{project.projecttitle}}  - {{project.projectstatus}}]  </span>
	    	</a>
	    	
	</div>
	
	<p class="noresult" ng-show="(projectList).length == 0">Sorry, No Projects In This Category.</p>	
	</span>

	<div class="responsive-container" ng-show="loader">
			<div class="dummy"></div>
			<div class="img-container">
				<div class="centerer"></div>
				<img src="img/loading1.gif"  ng-show="loader">
			</div>
	</div>	
	
  	</div>
</div>


