<div class="scrollable">
  	<div class="scrollable-content contact">
  	<span ng-show="!loader">
	
  	<div class="fullimg"><img src="img/app-successtories.jpg" class="img-responsive"></div>
  	
  	<form  role="form" name="inquiryform" novalidate>
  		<div class="form-group">
    		<label for="inputName" class="control-label">Name</label>
   	   	<div class="col-xs-12">
      		<input type="text" class="form-control col-xs-4 formpadd" id="inputName3" name="name" placeholder="* Enter Your Full Name" ng-model="formInfo.name" ng-required="true">
				  			
    			</div>
    			 <span  class= "inerror col-xs-12" ng-show="inquiryform.name.$touched && inquiryform.name.$error.required">Please enter the Name</span>
  		</div>	
  		<div class="form-group">
    		<label for="inputEmail" class="control-label">Email</label>
    		<div class="col-xs-12">
      		<input type="email" class="form-control col-xs-4 formpadd" id="inputEmail3" placeholder="* Enter Your Email Address" name ="email" ng-model="formInfo.email" ng-required="true">      		
    		</div>
    			<span   class= "inerror  col-xs-12" ng-show="inquiryform.email.$touched && inquiryform.email.$invalid">Please enter the valid Email Address</span>
  		</div>
  		<div class="form-group">
    		<label for="inputEmail" class="control-label">Contact</label>
    		<div class="col-xs-12">
      		<input type="text" class="form-control col-xs-4 formpadd" id="inputEmail4" placeholder="* Enter Your Contact" name ="contact" ng-model="formInfo.contact" ng-required="true">      		
    		</div>
    			<span   class= "inerror  col-xs-12" ng-show="inquiryform.contact.$touched && inquiryform.contact.$error.required">Please enter Your contact number.</span>
  		</div>
  		<div class="form-group">
    		<label for="inputSubject3" class="control-label">Subject</label>
    		<div class="col-xs-12">
      		<input type="text" class="form-control col-xs-4 formpadd" id="inputSubject3" placeholder="* Enter Subject" name="subject" ng-model="formInfo.subject" ng-required="true">
				    		
    		</div>
    		 <span   class= "inerror col-xs-12" ng-show="inquiryform.subject.$touched && inquiryform.subject.$error.required">Please enter the Subject</span>
  		</div> 
  		<div class="form-group">
    		<label for="inputMessage" class="control-label">Message</label>
    		<div class="col-xs-12">
    			<textarea class="form-control col-xs-4 formpadd" name="message"  placeholder="* Enter Message" id="inputMessage3" ng-model="formInfo.message" ng-required="true"></textarea>
      		  
    		</div>
    		<span  class= "inerror col-xs-12"  ng-show="inquiryform.message.$touched && inquiryform.message.$error.required">Please enter the Message</span>
  		</div>
  		<div class="form-group">
    		<div class=" col-xs-12 padd-btn">
      		<button type="submit" class="btn btn-info btn-block btn-color" ng-click="submitTheForm()" ng-disabled="inquiryform.$invalid">Submit</button>
    		</div>
  		</div>
  		<div class="form-group">&nbsp;</div>
  		<div class="form-group">&nbsp;</div>
	</form>
	</span>
  	
	<div class="responsive-container" ng-show="loader">
			<div class="dummy"></div>
			<div class="img-container">
				<div class="centerer"></div>
				<img src="img/loading1.gif">
			</div>
	</div>	

  	</div>
</div>
