<div class="scrollable">
  	<div class="scrollable-content project">
 
	<span ng-show="!loader">	
	<div class="navbar navbar-app">
    		<div class="btn-group justified">
    			<a  role="tab" data-toggle="tab" data-target= "#" ng-class="{tabactive : selectedcategoryId == projectcategory.typeid}" ng-click= "changetype(projectcategory.typeid)" ng-repeat="projectcategory  in projectcategories" class="btn btn-navbar sub-tab " >{{projectcategory.typetitle}}</a>
    		</div>
  	</div>
  	
	<div class="list-group" ng-repeat="project in projectlist | filter : { typeid : selectedcategoryId} ">
	  	<a href="#/Project/{{project.projectid}}" class="list-group-item active">
			<div class="imgPlace"><img class="img-responsive" src="{{project.image}}{{imgappend}}" alt="{{project.projecttitle}}"><!-- <h4 class="list-group-item-heading">{{project.projecttitle}}</h4> --></div>
	    		
	    		<span class="ptTitle">[{{project.projecttitle}}  - {{project.projectstatus}}]  </span>
	    </a>
	</div>
	
	</span>
	<div class="responsive-container" ng-show="loader">
			<div class="dummy"  ></div>
			<div class="img-container">
				<div class="centerer"></div>
				<img src="img/loading1.gif" >
			</div>
	</div>	

	<p class="noresult" ng-show="(filteredprojects).length == 0">Sorry, No Projects In This Category.</p>	
		  
  	</div>
</div>


