<div class="scrollable">
  	<div class="scrollable-content">
  	<span ng-show="!loader">
		
		
	<!-- Gallery Tabs-->
	<div class="prijectdetail">
  	<div class="projectnav navbar navbar-app" ng-show="projectdetail.floorplan == 1 || projectdetail.projectgallery == 1 || projectdetail.sitegallery == 1">
    	<div class="btn-group justified">
		<a role="tab" data-toggle="tab" data-target= "#" class="btn btn-navbar sub-tab" ng-show="projectdetail.floorplan == 1" ng-click="opengallery('f',projectdetail.id)" >Plans</a>
		
		<a role="tab" data-toggle="tab" data-target= "#" class="btn btn-navbar sub-tab" ng-show="projectdetail.projectgallery == 1" ng-click="opengallery('p',projectdetail.id)">Gallery</a>
		
		<a role="tab" data-toggle="tab" data-target= "#" class="btn btn-navbar sub-tab" ng-show="projectdetail.sitegallery == 1" ng-click="opengallery('s',projectdetail.id)" >Updates</a>		
    </div>
  	</div>
	<div class="imgPlace proj">
	<img src="{{projectdetail.gallery}}{{imgappend}}" alt="" class="img-responsive"> 
	</div> 	
	</div>
	<!-- Other Tabs-->
	<div class="navbar navbar-app mt10" ng-show="projectdetail.overview.length != 0 || projectdetail.specifications.length != 0 || projectdetail.amenities.length != 0">
    	<div class="btn-group justified">
			
		<a role="tab" data-toggle="tab" data-target= "#" class="btn btn-navbar sub-tab" ng-show="projectdetail.overview.length != 0" ng-click="showcontent('1')" ng-class="{tabactive : showoverview}">Overview</a>
		
		<a role="tab" data-toggle="tab" data-target= "#"  class="btn btn-navbar sub-tab" ng-show="projectdetail.specifications.length != 0" ng-click="showcontent('2')" ng-class="{tabactive : showspecification}" >Specifications</a>
		
		<a role="tab" data-toggle="tab" data-target= "#" class="btn btn-navbar sub-tab" ng-show="projectdetail.amenities.length != 0" ng-click="showcontent('3')" ng-class="{tabactive : showamenities}">Amenities</a>		
    </div>
  	</div> 	
  	
  	<!-- Content display -->
  	<div class="col-xs-12" >
		 	<div ng-show="showoverview">
				 <p id='overviewid' class="details" ng-bind-html="projectdetail.overview|html"></p>
				
			 </div>
			<div ng-show="showspecification">
				 <p class="details" ng-bind-html="projectdetail.specifications|html"></p>
				
			 </div>
			 <div ng-show="showamenities">
				  <p class="details" ng-bind-html="projectdetail.amenities|html"></p>
			 </div>
			 
			  <div ng-show="showlocation">
				   <!-- <a class="location" ng-click="downloadlocation()">Download</a> <br>
                    -->
                    <br>
				 	<img src="{{projectdetail.location}}" alt="{{projectdetail.location}}" class="img-responsive">
				 	<br>
			 </div>
	</div> 
	
	<div class="col-xs-12">
		<p></p>
	</div>
	
	</span>	
	<div class="responsive-container" ng-show="loader">
			<div class="dummy"></div>
			<div class="img-container">
				<div class="centerer"></div>
				<img src="img/loading1.gif">
			</div>
	</div>
  	</div>
</div>
