
<div class="scrollable " >
  	<div class="scrollable-content">
		<span ng-show="!loader">
		<div><img src="img/app-contactus.jpg" class="full-image"></div>
		<div class="margin">
    	<accordion close-others="true" >
                  <accordion-group  is-open="isopen" ng-repeat="item in items" >
                      <accordion-heading >
                        {{item.desc}}
                          <i class="pull-right fa" 
                                ng-class="{'fa-angle-down': isopen, 'fa-angle-right': !isopen}"></i>
                      </accordion-heading>
                      <p  style="text-align:justify" ng-bind-html = "item.content| html" ></p>
                  </accordion-group>
		</accordion>
		</div>
		</span>
		<div class="responsive-container" ng-show="loader">
			<div class="dummy"></div>
			<div class="img-container">
				<div class="centerer"></div>
				<img src="img/loading1.gif">
			</div>
		</div>	

  	</div>
</div>
