<div class="scrollable">
  	<div class="scrollable-content search">

	<span ng-show="!loader">
	<div><img src="img/vd-aboutus.jpg"></div>
	<div class="navbar navbar-app mt10">
    	<div class="btn-group justified">
		<a  role="tab" ng-repeat="parent in searchdata.parenttypes" data-toggle="tab" data-target= "#" ng-click="changeparent(parent.typeid)" ng-class="{ tabactive : parent.typeid == selectedparentid}" class="btn btn-navbar sub-tab " >{{parent.typetitle}}</a>
    		
    	</div>
  	</div> 	
  	
  	<div class="navbar navbar-app mt10">
    	<div class="btn-group justified">
		<a  role="tab" ng-repeat="subtype in searchdata.subtypes | filter : { parentid : selectedparentid}" data-toggle="tab" data-target= "#" ng-click="changesub(subtype.typeid)" ng-class="{ tabactive : subtype.typeid == selectedsubid}" class="btn btn-navbar sub-tab " >{{subtype.typetitle}}</a>
    		
    	</div>
  	</div> 
  	
  	<button type="button" class="btn btn-color btn-block" ng-click="submitTheForm()">Submit</button>
	
	</span>

	<div class="responsive-container" ng-show="loader">
			<div class="dummy"></div>
			<div class="img-container">
				<div class="centerer"></div>
				<img src="img/loading1.gif"  ng-show="loader">
			</div>
	</div>	
	
  	</div>
</div>


