body,html{font-size: 12px;background: url('../img/app-splashscreen-texture.jpg') ;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; }
/* .scrollable-content{ padding:0px 10px 10px; } */
.scrollable-content{ padding:10px; background-color:#EFEFEF;}
.sidebar-left { background:#30342E;}
.sidebar-left .scrollable-content { background:#30342E;}
/*.scrollable-content.home{background-color: #fff7e2} */
.scrollable{
}
 a:hover {text-decoration:none}    
.headingtitle
{
	width:100%;
	background:#333 !important ;
	color:#fff;
}     
.app-body
 {
 background: url('../img/app-splashscreen-texture.jpg') ;
 background-repeat: no-repeat;
 background-attachment: fixed;
 background-position: center;
 padding-bottom:0;
 } 
 
 .has-navbar-bottom .app-body {
 padding-bottom:30px
 }   
.footertext
{
color:#fff; 
text-align:center;
min-height:50px; 
font-size:14px;
padding:10px 0;
font-weight:bold;
}

 .media{ padding: 10px;}
a.homelnk, a.homelnk:hover{display: inline-block; text-decoration: none; height:100%; width: 100%; padding: 20px 0px; background: rgba(0,76,157,0.5); color: #ffffff;}
a.homelnk:hover{ background: rgba(0,76,157,0.7);}
hr {
    border-color: rgba(155, 155, 155, 0.1);
    border-image: none;
    border-left: 0 none;
    border-right: 0 none;
    border-style: solid none;
    margin: 0;
    margin-top: 6px;
    height: 0;
}
.project {height:100% !important;}
.project .col-xs-2{padding:8px;background:#FFF;height:100% !important;}
.project .icons{height:100% !important;}
.icons img{vertical-align:middle;padding-bottom:10px;}
.col-sm-3{ border:1px solid #004CAD; padding:0px; text-align: center;}
.col-xs-3{ border:1px solid #004CAD; padding: 0px; text-align: center;}navbar-app
.col-sm-3:first-child, .col-xs-3:first-child{margin-left: 4%;}
p.blue{color: #005E9E; font-size: 14px; padding-top: 5px;}
a{text-decoration: none; display: block;}
.titleapp{color:#ea3c00;}

.navbar{min-height: 34px;}
.sub-navbar{min-height: 50px;}
.navbar-absolute-top{ background-color: #474b45; border-bottom: 2px solid #474B45;}

.app-name + .scrollable, .sidebar-header + .scrollable {
    padding-top: 50px;
}
.app-name, .sidebar-header { line-height: 50px; }

.ng-dirty input.ng-invalid, input.ng-invalid, textarea.ng-invalid {
    border-color: #ccc;
}

.inerror{ color : rgb(255, 0, 0);}
.suberror{ color : #fff;}
.sub-btn{
background-color: #3F51B5 !important;
border-color: none;
}
.formpadd{ margin-bottom :8px;}
.navbar-app .btn, .navbar-app .btn-navbar { color: #777777; }

.navbar-absolute-bottom.homefooter {
    border-bottom: 0 none;
    border-top-width: 0px;
    bottom: 0;
    top: auto;
    background-color: #005E9E;
}
.navbar-absolute-bottom{ background-color: #222}

.label{top:-10px !important; padding: 0 !important; color: red; font-size: 11px;}

.fa-navbar{ color: #FFF;}
/*.fa-file-pdf-o{ color: red;} */
/*.fa-map-marker{ color: #db4437;} */
.fa-map-marker.white{ color: #ffffff ;}
.fa-map-marker.black{ color: #000000 ;}
.fa-youtube-play{ color: #cc181e;}

.control-label { line-height: 16px;}
/*
.subHeader{ background-color: #3f51b5 !important; margin: 0px -10px; padding:10px 10px 1px 10px; color: #ffffff important;border-bottom: 0px solid #ffffff !important;min-height: 35px;}
*/
.menubg_white {text-align:center;font-weight:bold;font-size:15px;text-decoration:none;background-color:rgba(0,0,0,0.1)}
.menubg_gray{text-align:center;font-weight:bold;font-size:15px;text-decoration:none;}
.menubg_white a{text-decoration:none;color:#000;}
.menubg_gray a{text-decoration:none;color:#000;}
.app-name, .sidebar-header{background:#474b45;}
.subHeader{ background-color: #999999 !important; margin: 0px -10px;min-height: 32px; color: #ffffff !important; border-bottom: 0px solid #ffffff !important;}
.subHeader > h2 { display: block; width: 100%; font-size: 20px; text-align:center; margin:0 auto !important; min-height: 32px; padding: 7px 0px; }
.subHeader a, a.dropdown-toggle{display: inline-block;}
.subHeader a i{ padding: 0px 0px 3px 5px; font-size: 24px !important; color: #ffffff;}
.fullimg{margin: 0px -10px;padding:10px;}
.mt10{margin-top: 10px;}
.mt5{margin-top: 5px;margin-bottom:5px}
.cards{ 
    /* -moz-box-shadow: 1px 1px 3px #ccc;
    -webkit-box-shadow: 1px 1px 3px #ccc;
    	box-shadow: 1px 1px 3px #ccc; */
	margin-bottom: 10px;
	border-bottom:1px solid #ccc;
 }
.imgPlace{ min-height: 111px; background: url('../img/icon.png') no-repeat scroll center center #E5E5E5; }
.successimgPlace{ margin-bottom: 5px;background: url('../img/icon.png') no-repeat scroll center center #E5E5E5; }
.newsdate{ padding-bottom: 10px; color: #b5b883;font-weight:bold;background-color: #30342e !important;padding:6px 10px;}
.newsdate i{color:#ea3c00;}
a.list-group-item{padding: 2px; color: #555555; border:0px solid; }
a.list-group-item.active{ background-color: #30342E !important; text-align: center;}
.list-group-item-heading{    background-color: rgba(0, 0, 0, 0.5) !important;
    display: block;
    line-height: 2em;
    margin-top: -35px;
    position: relative;}
a.list-group-item span{color: #FFF; line-height:2em;font-weight:bold;}

.btn{font-size: 16px; text-transform: none;border-radius: 0px}


.btn.sub-tab{font-size: 13px; text-transform: none !important; line-height: 34px; color: #fff; border-left: 1px solid #ccc;background:#000; opacity:.8}
.btn.sub-tab:first-child{border-left-width: 0px;}
.btn-color { background-color: #B5B883 !important;color:#000; }
.btn.tabactive{ background-color: #b5b883; color: #000;}
.btn.tabactive i{ color: #ffffff;}
.btn.tabactive:hover{ color: #ffffff;}
a.btn-navbar{padding-left: 12px !important;}
tr:nth-child(2n+1){background-color: #f5f5f5;}
.optionpadd { padding: 20px;}
.form-group { padding: 0px; }
.padd-btn{ margin-top:10px; }

.noresult
{
	color:red;
	font-size: 14px;
	padding-top: 10px;
	text-align:center;
}
.form-control :focus{ border-color:none; }
.about
{
	text-align:justify;
	padding-top:10px;
}
.breadcrumb {
    background-color: #F5F5F5;
    border-radius: 4px 4px 4px 4px;
    list-style: none outside none;
    margin-bottom: 15px;
    margin-top: 15px;
    padding: 8px 15px;
}
.breadcrumb > li + li:before {
    color: #000000;
    content: "/ ";
    padding: 0 5px;
}
.dropdown-menu{left:190px !important; top:40px !important;}
.sub-label {color: #fff;}
.breadcrumb {list-style: none outside none;}
.breadcrumb > .active {color: #000;}
.breadcrumb > li {display: inline-block;}
li a.dropactive {background-color: #5677fc; color: #ffffff;}
li a:hover{ color: #ffffff;}
li a.dropactive:hover{ background-color: #5677fc;color: #ffffff;}
.notification a h4,p{ color: #444; font-size:13px; font-weight:bold }
.notification a:hover {text-decoration: none;}
.panel-heading{background-color: #333 !important;border-top-left-radius: none;border-top-right-radius: none;font-weight: bold;}
.panel-title a span {color : #fff; font-size:15px;}
.panel-title a:hover {text-decoration: none; }
.panel-title a{text-decoration: none;}
.subscribe-footer{background-color: #efefef;border-top-width:0px;}
.panel-heading a i{
padding: 10px;
margin-right:-10px;
color: #fff;
display: inline-block;
text-decoration: none;
}
.carousel-indicators{display: none;}

.browser-android select {    
  -webkit-appearance: listbox;
  background-image: url(data:image/png;base64,R0lGODlhDQAEAIAAAAAAAP8A/yH5BAEHAAEALAAAAAANAAQAAAILhA+hG5jMDpxvhgIAOw==);
  background-repeat: no-repeat;
  background-position: bottom right;
  padding-right: 20px;
  padding-left:20px;
  height : 300px;
}
.social-link {text-decoration:none;display:block;width:100%;border-bottom: 1px solid #e5e5e5;padding:4px;color:#3f51b5}
.social-link:hover{text-decoration:none;}
.rate {text-align:center;margin-top:20px;margin-bottom: 10px;}
.rate-btn{font-size: 10px;}
.support{text-align: center;}
.heart-red{color: red;}
.heart-red:hover{color: rgba(255, 0, 189, 1);}
.app-support:hover{text-decoration:none;}
input[type="radio"] { margin: 10px 4px 0px; }
.radio-span{font-size:12px;}
.radio-label{font-size:14px;padding-top:12px;padding-bottom:3px;color: #000 !important;}
.search-btn{font-size:12px;padding : 6px 8px;;background-color:#ccc;border-color:#fff;color:#000;}
.search-btn.active {background-color:#ea3c00;}
.search-btn:hover{ 
color: #FFF;
background-color: #e84e40;

}
.search-grp{padding-top:3px;}
.padd-btn1{margin-top: 15px;}
.color-red { color : #ee1c24; }
.searchbtm{ position: absolute; bottom: 0; }
.searchbtm{ width: 100%; max-width: 100%; height: auto;}
.logo-img{margin-bottom: 5px;}



/* Ankit */
.navbar-brand{padding:5px;}

/*
.navbar-app {
    background: none repeat scroll 0 0 #000000;    
}
*/
.form-control {
    background-color: #dcdcdc;
    background-image: none;
    border-radius: 0px;
    color: #555;
    display: block;
    font-size: 14px;
    height: 34px;
    line-height: 1.42857;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    width: 100%;
	box-shadow: 1px 1px 1px #808080;
}
.menu .col-xs-6{padding:30px 0px;}
form .btn {
    -moz-user-select: none;
    background-image: none;
    border: 0px solid transparent;
    border-radius: 0px;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857;
    margin-bottom: 0;
    padding: 6px 12px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
}
.well{background-color: #ffffff !important; position: relative; margin-left: 25%; border:1px solid #ffffff; border-radius:0px; box-shadow:0px 0px 0px !important; min-height: 440px;}

.home-content{margin-top : 10px; text-align:center;color:#ea3c00;}

#brand-title{color:#b5b883;}
.home-img{margin-top:20px;}
.home-tag{font-size:14px;text-align:center;margin-top : 10px;color: #000;}
.navbar-brand-center {margin-top:11px;text-align:center;}
.panel-title{font-weight: 600; letter-spacing: 0.5px;}
.gal-content{padding-top:10px;}
.navbar-sub-center {
    margin-left: 40px;
    margin-top: 11px;
    text-align: left;
}
#sub-title{color:#fff;text-align:left}
.sub-mt{margin-left: 20px;}
  .nav-stacked{width:25%;} 
/* .tab-content{width:75%;} */


/* custom inclusion of right, left and below tabs */
.tabs-left{margin-top: 2px;}

.tabs-left > .nav-tabs {
  border-bottom: 0;
}

.tab-content > .tab-pane,
.pill-content > .pill-pane {
  display: none;
}

.tab-content > .active,
.pill-content > .active {
  display: block;
}





.tabs-left > .nav-tabs > li {
  float: none;
}

.tabs-left > .nav-tabs > li > a {
  min-width: 74px;
  margin-right: 0;
  margin-bottom: 3px;
  color:#007AFF;
}

.tabs-left > .nav-tabs {
  float: left;
  margin-right: 19px;
  border-right: 1px solid #ddd;
}

.tabs-left > .nav-tabs > li > a {
  margin-right: -1px;
  -webkit-border-radius: 4px 0 0 4px;
     -moz-border-radius: 4px 0 0 4px;
          border-radius: 4px 0 0 4px;
}


.tabs-left > .nav-tabs > li > a:focus {
  border-color: #eeeeee #dddddd #eeeeee #eeeeee;
}

.tabs-left > .nav-tabs .active > a,
.tabs-left > .nav-tabs .active > a:focus {
  border-color: #ddd transparent #ddd #ddd;
  *border-right-color: #ffffff;
}
.tabs-left > .nav-tabs .active > a:hover ,
.tabs-left > .nav-tabs > li > a:hover
{ 
 color: #ea3c00;
}
.responsive-container {
    position: relative;
    width: 100%;
}

.dummy {
    padding-top: 100%; /* forces 1:1 aspect ratio */
}

.img-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align:center; /* Align center inline elements */
}

.img-container .centerer {
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}

.img-container img {
    vertical-align: middle;
    display: inline-block;
    max-height: 100%;  /* <-- Set maximum height to 100% of its parent */
    max-width: 100%;   /* <-- Set maximum width to 100% of its parent */
}
.scrollable .list-group .row{padding:0; margin: -10px;}
a:focus{color:#fff;text-decoration:none;}
a:hover{color:#fff;text-decoration:none;}


/* Vraj Css*/
.home-heading-main {
    background-color: #30342e;
    /* box-shadow: 3px 3px 5px 6px #ccc; */
	margin:0px;
    color: #b5b883;
    padding: 15px 10px;
    text-align: center;
}
.title {color : #b5b883;}


.slidemenu ul {
	margin: 0;
	padding: 0;
	width: inherit;
}
.slidemenu ul li {
	list-style-type: none;
	margin: 0px;
	border-bottom: 1px solid #50544E;
}
.slidemenu ul li a:link, .slidemenu ul li a:visited {
	font-weight: 100;
	color: #b5b883;
	font-size: 14px;
	text-decoration: none;
	display: block;
	padding: 10px 0px 10px 10px;
}

.borderbt{border-bottom: 0px #e5e5e5 solid;}

.slidemenu ul li a:hover, .slidemenu ul li a:active {
	color: #b5b883;
}

.slidemenu ul li ul{
	margin-left: 37px;
}

.slidemenu ul li ul li {
	border-bottom: 0px #fff solid;
}



.slidemenu ul li img {
	color: #222222;
}


.slidemenu_btn .ui-icon-shadow {
	-moz-box-shadow: 0 0px 0 rgba(255,255,255,0);
	-webkit-box-shadow: 0 0px 0 rgba(255,255,255,0);
	box-shadow: 0 0px 0 rgba(255,255,255,0);
}

.slidemenu_btn .ui-btn-inner {
	border-top: 0px;
}
.slidemenu_btn .ui-icon {
	margin: 4px 1px 2px 2px !important;
	width: 25px;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	border-radius: 0px;
}

.slidemenu_btn .ui-icon, .ui-icon-searchfield::after {
	background: none;
}

.slidemenu_btn.ui-btn-icon-notext {
	width: 30px;
}

.browsetitle {color: #b5b883;padding-top : 5px;}

.panel-heading {
    background-color: #30342e!important;   
}
/* Ankit */
.home-heading-main a{color:#b5b883;font-size:16px;}
.h-moe .col-xs-6:first-child{padding-left:0px;padding-right:6px}
.h-moe .col-xs-6:last-child{padding-left:6px;padding-right:0px;}
.h-moe a{font-size:14px;color:#30342e;font-weight:bold;padding:10px 0px;}
.h-moe-sub a{font-size:14px;color:#30342e;font-weight:bold;padding:10px 0px;}
.h-moe{padding-top:12px;}
.btn-navbar .fa-search{color:#FFF;}
.home .col-xs-12{padding-left:0px;padding-right:0px;}
.padding{padding:10px;}
.padding-sub{padding:0px 10px 10px 10px;}
.panel-group .panel {border-radius:0px;}
.panel-heading {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}
.news .media{padding:0px;}
.story .media{padding:0px;}
.story strong{color:#000;}
.news p{ background:#FFF;padding:10px;color: #444; font-size:13px; font-weight:bold }
.story p{ background:#FFF;padding:10px;color: #444; font-size:13px; font-weight:bold }
.margin{margin-top:10px;}
.home .fullimg{padding-top:0px;}
.contact .fullimg{padding-top:0px;}
.contact .col-xs-12{padding:0px;}
.contact{margin-bottom:20px;}
.project .navbar{margin-bottom:10px;}
.search{color:#FFF;}
.prijectdetail .navbar{margin-bottom:0px;}
.prijectdetail .navbar {
    margin-bottom: -35px;
    position: static;
    z-index: 1;
}
.sub-title {color : #b5b883;}
.btn-navbar .fa-globe  {color : #fff;}
a.header {
    padding-left: 2px !important;
}
.notification .media {margin-top:2px;}
a.social{color : #ff0000;}
